.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(208, 206, 206, 255);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-ul-li {
    /* border-right: 1px solid #bbb; */
    float: left;
}

.nav-ul-li-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgba(208, 206, 206, 255);
}

/* Change the link color to #111 (green) on hover */
.nav-ul-li-a:hover {
    background-color: rgb(0, 254, 68);
}

.nav-active {
    background-color: #04AA6D;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.left-section {
    float: left;
    width: 30%;
    /* height: 800px; */
    height: 100%;


    /* only for demonstration, should be removed */
    /* background: #ccc; */
    border-style: solid;
    border-width: thin;
    padding: 20px;
}