<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>INTARFRM Application</display-name>

	<filter>
		<filter-name>FileUploadFilter</filter-name>
		<filter-class>
			com.fujitsu.intarfrm.helpers.views.filters.fileupload.FileUploadFilter</filter-class>
	</filter>

	<!-- ファイルアップロードフィルタ -->
	<filter-mapping>
		<filter-name>FileUploadFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<!-- 初期化処理リスナ -->
	<listener>
		<listener-class>
			com.fujitsu.intarfrm.helpers.commons.initializing.ApplicationInitializationManager</listener-class>
	</listener>

	<!-- フレームワーク標準サーブレット -->
	<servlet>
		<servlet-name>IntarfrmServlet</servlet-name>
		<servlet-class>
			com.fujitsu.intarfrm.helpers.commons.framework.IfmCommandControllerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>IntarfrmServlet</servlet-name>
		<url-pattern>*.init</url-pattern>
		<url-pattern>*.action</url-pattern>
		<url-pattern>*.render</url-pattern>
		<url-pattern>*.resource</url-pattern>
		<url-pattern>*.download</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<error-page>
		<exception-type>com.fujitsu.intarfrm.helpers.commons.framework.SessionInvalidatedException</exception-type>
		<location>/views/pjcommon/errorpage/sessionInvalidated.jsp</location>
	</error-page>

	<jsp-config>
		<taglib>
			<taglib-uri>http://tempuri.org/intarfrm/tags</taglib-uri>
			<taglib-location>/WEB-INF/ifm-tags.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://tempuri.org/intarfrm/np/tags</taglib-uri>
			<taglib-location>/WEB-INF/np-tags.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>
